body{background-color: black;
	/*background-image:url(http://wallpapercave.com/wp/783MQ2f.jpg); */
	background-size: cover;}

.myfirstheading{
	font-family: Juice;
	font-size: 50px;
	text-align: center;
	font-weight: 10px;
	color: white;
}

.aboutme{
	font-family: Juice;
	text-align: right;
}

.custom-name-link {
	font-size: 40px;
	background-color: blue;
	font-family: 'Allura', cursive;
}

.custom-navbar-class{
	background-color: red;
}

.carousel{
	height: 800px;
}

.navbar-collapse{
	font-family: 'Allura', cursive;
	font-size: 20px;
}